name: Manual Assemble and Deploy

on:
  workflow_dispatch:
    inputs:
      build_type:
        description: Select the build type
        required: true
        type: choice
        default: Release
        options:
          - Debug
          - Release
      flavor:
        description: Select the flavor
        required: true
        type: choice
        default: Production
        options:
          - Development
          - Staging
          - Production
      release_note:
        description: Release note
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Assemble and Deploy
        run: |
          export RELEASE_NOTE=${{ github.event.inputs.release_note }}
          ./gradlew assemble${{ github.event.inputs.flavor }}${{ github.event.inputs.build_type }} appDistributionUpload${{ github.event.inputs.flavor }}${{ github.event.inputs.build_type }}
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
